<h2 class="color-gray">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-item">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-field', autofocus: true %>
  </div>

  <div class="form-item">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-border blue' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
