<!DOCTYPE html>
<html>
<head>
  <title>Markoff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <h1><%= link_to (user_signed_in? ? user_path(current_user) : root_path) do %>
        <span class="fa fa-check-square-o"> Blocitoff</span>
      <% end %>
      </h1>
    </header>
    <div class="row gutters">
      <div class="column-4">
        <nav class="nav-responsive-center no-hover">
            <ul>
              <% if current_user %>
                <li><%= link_to (current_user.name || current_user.email), edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
            </ul>
        </nav>
      </div>
      <div class="column-8">
        <div class="center-column">
          <%= yield %>
        </div>
      </div>
      <div class="column-4">
        <% if flash[:notice] %>
          <div class="well bg-light-green close-this">
            <button type="button" class="close">x</button>
            <p><%= flash[:notice] %></p>
          </div>
          <% elsif flash[:error] %>
          <div class="well bg-light-red close-this">
            <button type="button" class="close">x</button>
            <p><%= flash[:error] %></p>
          </div>
        <% elsif flash[:alert] %>
          <div class="well bg-light-yellow close-this">
            <button type="button" class="close">x</button>
            <p><%= flash[:alert] %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
